<mat-toolbar class="flex">
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="flex grow"></span>
  <button
    matIconButton
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- app.html -->
<h2>Two-way binding with the About button</h2>

<!-- Input bound to the routeName variable -->
<label>
  Route:
  <input [(ngModel)]="routeName" placeholder="Type a route, e.g., about" />
  <input [(ngModel)]="routeNewName" placeholder="new name route" />
</label>

<!-- Button uses the bound value -->
<button mat-raised-button color="accent" (click)="goToRoute()">
  Go to {{ routeName || '...' }}
</button>
<button mat-raised-button color="accent" (click)="goNewName()">
  Go to {{ routeNewName || '...' }}
</button>

<section class="example-section">
  <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
</section>

<ul>
  @for (hero of myHeroes; track hero) {
  <li>{{ hero }}</li>
  } @empty {
  <li>No heroes found.</li>
  }
</ul>

@if (!disabled()) {
<p>this is not checked</p>
} @else {
<p>this is checked</p>
}

<router-outlet></router-outlet>


